/* onepiececolour.css
    by https://github.com/biith
*/

:root {
    --cp-accent-color: 61, 187, 255;
    --cp-accent-color-dim: 31, 157, 225;
}

.user {
    --color-blue: var(--cp-accent-color) !important;
    --color-blue-dim: var(--cp-accent-color-dim) !important;
}
  
.user.user-page-unscoped .progress .bar {
    background: rgb(var(--color-blue)) !important;
    overflow: hidden;
    position: relative;
}
.user.user-page-unscoped .progress .bar:after {
    background: linear-gradient(530deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
